.logo-container {
  width: 30%;
  height: 150px;
  position: relative;
  z-index: 0;
}

.logo {
  width: 200px;
  position: absolute;
}

.triangle {
  width: 150px;
  position: absolute;
  margin: 25px 0 0 70px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation-name: spin;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
